<html>
	<head>
		<!-- JS -->
		<!-- ANGULAR.JS -->
		<script type="text/javascript" src="libs/angular/angular.min.js"></script>

		<script type="text/javascript"
			src="libs/angular-route/angular-route.min.js"></script>

		<!-- BOOTSTRAP -->
		<script type="text/javascript"
			src="css/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript"
			src="libs/bootstrap/ui-bootstrap-tpls-0.13.4.min.js"></script>

		<!-- MOMENT.JS -->
		<script type="text/javascript" src="libs/moment/min/moment.min.js"></script>

		<!-- JQUERY -->
		<script type="text/javascript"
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!-- CSS -->
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" type="text/css"
			href="css/bootstrap/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css"
			href="css/bootstrap/css/bootstrap-theme.min.css">
		
		
	</head>
	<body>
		<h1>Hello World</h1>
	</body>
</html>