<div ng-controller="HomeCtrl as hm" ng-init="hm.getSensorData()" >
    <div class="row" style="padding-top:2%;">
        <div class="col-xs-8">
            <div class="col-xs-4">
                <label id="groupByLabel">Group By</label>
                <select id="groupByElement" ng-model="hm.group" ng-options="groups.group_title for groups in hm.GROUPS" ng-change="hm.groupByChanged()">
                </select>
            </div>
            <div class="col-xs-8">
                <label id="groupByFieldLabel">Location</label>
                <select id="groupByFieldElement" ng-model="hm.groupBy" ng-options="fieldOption for fieldOption in hm.group.values" ng-change="hm.getSensorDataServer()">
                </select>
            </div>
        </div>
        <div class="col-xs-4">
            <label id="yAxisLabel">Y-Axis</label>
            <select id="yAxisSelectElement" ng-model="hm.yAxisFilter" ng-options="yAxisOptions.title for yAxisOptions in hm.YAXIS_OPTIONS" ng-change="hm.filterGraph()">
            </select>
        </div>
    </div>
    <div class="row" style="margin-top:5%;">
        <div class="col-xs-12">
            <nvd3-line-chart id="homeSensor"
                data="hm.sensorGraphData"
                showXAxis="true"
                showYAxis="true"
                tooltips="true"
                interactive="true"
                showLegend="true"
                width="900"
                height="350"
                xAxisTickFormat="hm.xAxisTickFormatFunction()"
                >
            </nvd3-line-chart>
        </div>
    </div>
</div>